<!-- @thymesVar id="participant" type="dev.maslycht.foreignsplitter.model.Participant" -->
<!-- @thymesVar id="items" type="java.util.List<dev.maslycht.foreignsplitter.model.Item>" -->
<!-- @thymesVar id="item" type="dev.maslycht.foreignsplitter.model.Item" -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="participantCard(participant)">
    <div class="card mb-4">
        <div class="card-header bg-primary-subtle d-flex justify-content-between">
            <h5 class="mb-0" th:text="${participant.name}"></h5>
            <span th:text="${#numbers.formatDecimal(participant.localTotal, 1, 'COMMA', 2, 'POINT')}"></span>
        </div>
        <div class="card-body">
            <p th:if="${#lists.isEmpty(items)}" class="text-secondary">No items. Add above.</p>
            <form th:action="@{/setParticipantItems}" method="POST">
                <div class="row row-cols-2">
                    <input type="hidden" name="participantId" th:value="${participant.id}"/>
                    <div class="form-check" th:each="item: ${items}">
                        <input aria-label="Add item to participant"
                               class="form-check-input"
                               th:id="'item-' + ${item.id}"
                               th:value="${item.id}"
                               th:checked="${participant.items.contains(item)}"
                               type="checkbox"
                               name="itemIds"
                               onchange="this.form.submit()"
                        />
                        <label class="form-check-label"
                               th:for="'item-' + ${item.id}"
                               th:text="${item.name}
                                 + (${participant.items.contains(item)}
                                 ? ' (' + ${#numbers.formatDecimal(item.splitLocalCost, 1, 'COMMA', 2, 'POINT')} + ')'
                                 : '')"
                               th:attr="for=${item.id}">
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <form th:action="@{/removeParticipant}" method="POST">
                <input type="hidden" th:value="${participant.id}" name="participantId"/>
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                </button>
            </form>
        </div>
    </div>
</div>
</html>